POSTGRES_DB=stock
POSTGRES_USER=stock
POSTGRES_PASSWORD=
POSTGRES_PORT=5432

ConnectionStrings__Default=Host=localhost;Port=5432;Database=stock;Username=stock;Password=
API_PORT=3000
API_DOCS_ENABLED=false
